mat-toolbar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.navbar {
    width: 100%;
    bottom: 0;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .nav-button {
        display: flex;
        flex-direction: column;
        color: var(--color-white);
        justify-content: center;
        align-items: center;
        width: 20%;
        margin: 0 8px;
        padding: 0 4px;
        text-align: center;
        cursor: pointer;

        .nav-icon {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 32px;
            // padding-top: 8px;
            width: 100%;
        }

        .nav-text {
            // width: 100%;
            height: fit-content;
            font-size: 12px;
            text-align: center;
            word-break: break-word;
        }
    }

}