/* You can add global styles to this file, and also import other style files */
body,html {
    margin: 0;
    padding: 0;
    --color-primary: rgb(34, 193, 185);
    --color-secondary: rgb(19, 102, 191);
    --color-complementary: rgb(23, 93, 32);
    --color-white: white;
    --color-black: black;
    --border-radius: 10px;
    --padding: 6px 10px;
    --border: 2px solid var(var(--color-secondary))
}
* {
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.glass {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(41x);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}