/* You can add global styles to this file, and also import other style files */
body,html {
    margin: 0;
    padding: 0;
    --color-primary: rgb(34, 193, 185);
    --color-secondary: rgb(19, 102, 191);
    --color-white: white;
    --color-black: black;
    --border-radius: 10px;
    --padding: 6px 10px;
    --border: 2px solid var(var(--color-secondary))
}
* {
    box-sizing: border-box;
}